SERVICE_NAME=groupsapp-groups
ENVIRONMENT=production
LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5
API_V1_STR=/v1
DATABASE_URL=postgresql://<rds_user>:<rds_password>@<rds_endpoint>:5432/groupsapp_groups
RABBITMQ_URL=amqp://<rabbitmq_user>:<rabbitmq_password>@<rabbitmq-service>:5672/
GRPC_PORT=50051
AUTH_GRPC_URL=<auth-grpc-service>:50051
