SERVICE_NAME=groupsapp-groups
ENVIRONMENT=production
LOG_LEVEL=INFO
LOG_DIR=./logs
LOG_MAX_BYTES=5242880
LOG_BACKUP_COUNT=5
API_V1_STR=/v1
DATABASE_URL=postgresql://groupsuser:<groups-db-password>@groupsapp-groups-db.clmy0mf3pyer.us-east-1.rds.amazonaws.com:5432/groupsapp_groups?sslmode=require
RABBITMQ_URL=amqp://<rabbitmq-user>:<rabbitmq-password>@groupsapp-rabbitmq:5672/
GRPC_PORT=50051
AUTH_GRPC_URL=groupsapp-auth:50051
