SERVICE_NAME=groupsapp-notifications
ENVIRONMENT=production
API_HOST=0.0.0.0
API_PORT=8083
DATABASE_URL=postgresql+asyncpg://notificationsuser:<notifications-db-password>@groupsapp-notifications-db.clmy0mf3pyer.us-east-1.rds.amazonaws.com:5432/groupsapp_notifications?ssl=require
RABBITMQ_URL=amqp://<rabbitmq-user>:<rabbitmq-password>@groupsapp-rabbitmq:5672/
RABBITMQ_EXCHANGE=groupsapp.events
